@import 'vars';

// header {
//     background-color: var(--black);
//     width: 100%;
//     height: 9.5vh;
// }

// header img {
//     height: 100%;
//     margin: auto 12px;
// }

main {
    background-image: url('../assets/images/not-found.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.not-found__title {
    color: var(--white);
    font-size: 6rem;
    margin-bottom: 20px;
}

.not-found__description {
    color: var(--white);
    font-size: 2.2rem;
    text-align: center;
    font-weight: 300;
    width: 45%;

}

.not-found__button {
    color: var(--black);
    background-color: var(--white);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 12px 40px;
    margin: 12px;
    border: none;
    border-radius: 3px;
}

.not-found__error {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 2.2em;
    margin-top: 28px;
    padding: 0 1vw;
    border-left: 2px solid var(--main-red);
}

.not-found__movie-image-title {
    position: absolute;
    bottom: 40px;
    right: 80px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 100;
    opacity: 0.75;
}

.text-shadow {
    text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
}