@import 'vars';

.section__main-container {
    margin-left: 6px;
    margin-top: 8px;
}

.section__title {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 6px 0;
}

.section__scroll-container::-webkit-scrollbar {
    display: none;
}
.section__scroll-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 180px;
}

.top__image {
    position: relative;
    display: inline-block;
    margin-left: -16px;
    width: 140px;
    height: 100%;
}

.top__image img {
    width: 100px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.top__image p {
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom: 8px;
    left: 5px;
    color: var(--soft-black);
    font-size: 10rem;
    font-weight: 700;
    text-shadow: 
        1.25px 1.25px 0 #cacaca, 
        -1.25px -1.25px 0 #cacaca, 
        1.25px -1.25px 0 #cacaca, 
        -1.25px 1.25px 0 #cacaca,
        -9px -1px 6px var(--soft-black);
}

.section__scroll-container .topContent--tenth {
    width: 160px;
    margin-left: -36px;
}





/* z-index */

.topContent--first p {
    z-index: 20;
}
.topContent--first img {
    z-index: 19;
}
.topContent--second p {
    z-index: 18;
}
.topContent--second img {
    z-index: 17;
}
.topContent--third p {
    z-index: 16;
}
.topContent--third img {
    z-index: 15;
}
.topContent--fourth p {
    z-index: 14;
}
.topContent--fourth img {
    z-index: 13;
}
.topContent--fifth p {
    z-index: 12;
}
.topContent--fifth img {
    z-index: 11;
}
.topContent--sixth p {
    z-index: 10;
}
.topContent--sixth img {
    z-index: 9;
}
.topContent--seventh p {
    z-index: 8;
}
.topContent--seventh img {
    z-index: 7;
}
.topContent--eighth p {
    z-index: 6;
}
.topContent--eighth img {
    z-index: 5;
}
.topContent--ninth p {
    z-index: 4;
}
.topContent--ninth img {
    z-index: 3;
}
.topContent--tenth p {
    z-index: 2;
}
.topContent--tenth img {
    z-index: 1;
}